<IfModule mod_rewrite.c>
    RewriteEngine On

    # A RewriteBase é importante para projetos em subdiretórios
    RewriteBase /code/Site-Curso-php/

    # Se a requisição for para o próprio index.php, pare a reescrita
    RewriteRule ^index\.php$ - [L]

    # Se o arquivo ou diretório requisitado existe, não faça a reescrita
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Reescreva qualquer outra requisição para index.php
    RewriteRule . index.php [L]
</IfModule>