<!DOCTYPE html>
<html lang="en" class="h-full">
{% include 'partials/_head.html.twig' %}
<body class="h-full flex flex-col font-['Pixelify_Sans'] bg-[#F5F4F4]">
    
    {% include 'partials/_navbar.html.twig' %}

    <div class="flex-1">
        {% block body %}
            nada aqui por enquanto
        {% endblock %}
    </div>

    {% include 'partials/footer.html.twig' %}
    
</body>
</html>
