<!DOCTYPE html>
<html lang="en">
{% include 'partials/_head.html.twig' %}
<body class="font-['Pixelify_Sans'] bg-[#F5F4F4] h-screen">
    {% include 'partials/_navbar.html.twig' %}
    {% block body %}
        nada aqui por enquando
    {% endblock %}
</body>
</html>