{% extends "templates/base.html.twig" %}
{% block title %} Educadores 📚

 {% endblock %}

{% block content %}
<main>
        <section class="py-10">
            <div class="flex flex-col  items-center w-[80%] mx-auto font-[Poppins] ">
                <h1 class="text-3xl md:text-4xl font-bold max-sm:text-3xl max-md:text-3xl max-sm:text-center underline font-['Pixelify_Sans']">Conheça nossos educadores</h1>
    
                <!--PRIMEIRO CARD-->
                <article class="flex bg-white border border-solid rounded-xl shadow-lg p-[20px] items-center gap-[20px] duration-300 hover:border-[#eeeded] hover:bg-[#eeeded] hover:shadow-[inset_1px_1px_5px_rgba(0,0,0,0.07)] hover:scale-[1.02] mt-10">
                    <div class="max-md:block max-md:text-center flex items-center gap-4">

                        <img class="shadow-[2px_2px_12px_rgba(0,0,0,0.35)] w-[220px] h-[220px] rounded-[50%] object-cover max-xl:w-[250px] max-xl:h-[250px] max-lg:w-[250px] max-lg:h-[250px] max-sm:w-[220px] max-sm:h-[220px] mx-auto md:mx-0" src="{{assets}}/img/educadores/suzanecarvalho.jpg" alt="Foto de Suzane">
    
                        <div class="flex flex-col ml-3 gap-2 max-md:ml-0">
                            <header>
                                <p class="text-2xl font-bold max-lg:text-xl max-sm:pt-3">Suzane Carvalho</p>
                                <p class="italic text-base font-light max-lg:text-sm">Coordenadora e Professora</p>
                            </header>
                            <p class="text-sm max-lg:text-xs">Suzane Carvalho dos Santos é professora e coordenadora do curso de Ciência da Computação no Centro
                            Universitário Estácio São Luís. Com vasta experiência na área acadêmica, ela aplica metodologias ativas
                            e tecnologias educacionais para garantir uma aprendizagem significativa aos seus alunos. Além de sua atuação
                            docente, Suzane contribui para a Comissão Própria de Avaliação (CPA) da instituição.</p>
                            <p class="text-sm max-lg:text-xs">Sua formação acadêmica e seu compromisso com a educação refletem seu empenho em oferecer um ensino de qualidade, focado no desenvolvimento de competências técnicas e práticas nos alunos. Com uma trajetória dedicada ao ensino superior, Suzane tem se destacado como uma profissional engajada no processo de inovação educacional. </p>
                        </div>

                    </div>
                </article>
    
                <!--SEGUNDO CARD-->
                <article class="flex bg-white border border-solid rounded-xl shadow-lg p-[20px] items-center gap-[20px] duration-300 hover:border-[#eeeded] hover:bg-[#eeeded] hover:shadow-[inset_1px_1px_5px_rgba(0,0,0,0.07)] hover:scale-[1.02] mt-10">

                    <div class="max-md:block max-md:text-center flex items-center gap-4">
                        <img class="shadow-[2px_2px_12px_rgba(0,0,0,0.35)] w-[220px] h-[220px] rounded-[50%] object-cover max-xl:w-[250px] max-xl:h-[250px] max-lg:w-[250px] max-lg:h-[250px] max-sm:w-[220px] max-sm:h-[220px] mx-auto md:mx-0" src="{{assets}}/img/educadores/arlisonwady.jpg" alt="Foto de Arlison">
    
                        <div class="flex flex-col ml-3 gap-2 max-md:ml-0">
                            <header>
                                <p class="text-2xl font-bold max-lg:text-xl max-sm:pt-3">Arlison Wady</p>
                                <p class="italic text-base font-light max-lg:text-sm">Professor</p>
                            </header>
                            <p class="text-sm max-lg:text-xs">Arlison Wady Sousa Martins é Mestre em Ciência da Computação pela Universidade Federal do Maranhão (UFMA) e possui diversas especializações na área de tecnologia e gestão. Atua como professor na Faculdade Estácio desde 2018, lecionando disciplinas como algoritmos, estrutura de dados, engenharia de software, programação orientada a objetos e banco de dados e também atua como líder do projeto de Laboratório de Transformações Digitais (LTD).</p>
                            <p class="text-sm max-lg:text-xs">Com sólida formação acadêmica e ampla experiência em desenvolvimento de sistemas, Arlison alia prática de mercado ao ensino superior, promovendo uma abordagem atualizada e aplicada nas aulas. Também participa de projetos de pesquisa e orientação de TCCs, contribuindo ativamente para a formação de profissionais da área de computação.</p>
                        </div>

                    </div>
                </article>
    
                <!--TERCEIRO CARD-->
                <article class="flex bg-white border border-solid rounded-xl shadow-lg p-[20px] items-center gap-[20px] duration-300 hover:border-[#eeeded] hover:bg-[#eeeded] hover:shadow-[inset_1px_1px_5px_rgba(0,0,0,0.07)] hover:scale-[1.02] mt-10">

                    <div class="max-md:block max-md:text-center flex items-center gap-4">
                        <img class="shadow-[2px_2px_12px_rgba(0,0,0,0.35)] w-[220px] h-[220px] rounded-[50%] object-cover max-xl:w-[250px] max-xl:h-[250px] max-lg:w-[250px] max-lg:h-[250px] max-sm:w-[220px] max-sm:h-[220px] mx-auto md:mx-0" src="{{assets}}/img/educadores/antonioreis.jpg" alt="Foto de Arlison">
    
                        <div class="flex flex-col ml-3 gap-2 max-md:ml-0">
                            <header>
                                <p class="text-2xl font-bold max-lg:text-xl max-sm:pt-3">Antônio Reis</p>
                                <p class="italic text-base font-light max-lg:text-sm">Professor</p>
                            </header>
                            <p class="text-sm max-lg:text-xs">Antônio Reis de Sousa é professor no Centro Universitário Estácio São Luís, atuando na área de Tecnologia da Informação. Contribui na formação de alunos em cursos de graduação, aplicando seus conhecimentos em desenvolvimento de software, banco de dados e engenharia da computação.</p>
                            <p class="text-sm max-lg:text-xs">Na Estácio São Luís, aplica seus conhecimentos em disciplinas como banco de dados, engenharia de software, segurança da informação, business intelligence e computação em nuvem. Sua atuação é marcada pelo uso de metodologias ativas e tecnologias educacionais, visando proporcionar uma aprendizagem significativa aos alunos.</p>
                            <p class="text-sm max-lg:text-xs">Além das atividades em sala de aula, participa de grupos de pesquisa voltados à inovação no ensino superior, demonstrando seu compromisso com a qualidade acadêmica e o desenvolvimento dos estudantes da Estácio.</p>
                        </div>

                    </div>
                </article>
    
            </div>
        </section>
    </main>


{% endblock %}


