<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--TAILWIND-->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">

    <!--ICONS MENU HAMBURGUER-->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <!--FAVICON-->
    <link rel="shortcut icon" type="image/jpg" href="{{assets.img}}/logos/favicon.png"/>

    <title>{% block title %}
        Dot Nerd | {{ title }}
    {% endblock %}</title>
</head>