<header class="bg-[#001934]">
        <nav class="flex justify-between items-center w-[95%] m-auto">
            <div>
                <a href=""><img class="w-16 p-1" src="{{assets.img}}/logos/logo.png" alt="Logo"></a>
            </div>
            <div
                class="nav-links duration-500 md:static absolute bg-[#001934] md:min-h-fit min-h-[40vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[6vw] gap-6 text-white text-lg p-4">
                    
                    <li><a class="hover:text-xl hover:underline duration-300" href="#">Home</a></li>
                    <li><a class="hover:text-xl hover:underline duration-300" href="#">LTD</a></li>
                    <li><a class="hover:text-xl hover:underline duration-300" href="../screen_educadores/index.html">Educadores</a></li>
                    <li><a class="hover:text-xl hover:underline duration-300" href="#">Atlética</a></li>
                    <li><a class="hover:text-xl hover:underline duration-300" href="#">Perfil</a></li>
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <button
                    class=" text-lg text-white px-5 py-2 rounded-3xl hover:text-xl cursor-pointer duration-300 ease-out hover:underline active:text-[#001934]">
                    Entrar
                </button>
                <ion-icon onclick="onToggleMenu(this)" name="menu"
                    class="text-3xl text-white cursor-pointer md:hidden"></ion-icon>
            </div>
        </nav>
    </header>
