
{% include 'templates/partials/_head.html.twig' %}
<body class="min-h-screen flex flex-col font-['Pixelify_Sans'] bg-[#F5F4F4]">
    {% include 'templates/partials/_navbar.html.twig' %}
    
    {% block content %}
    --- conteudo main aqui ---
    {% endblock %}
    

    {% include 'templates/partials/_footer.html.twig' %}
</body>
</html>